<ion-content [fullscreen]="true">
<ng-container *ngFor="let pais of this.pais" >

  <ion-row>
    <ion-col size="4">
      <ion-card>
        <img alt="" src="{{pais.flags.png}}" />
        <ion-card-header>
          <ion-card-title>{{pais.cca2}}</ion-card-title>
          <ion-card-subtitle>{{pais.capital}}</ion-card-subtitle>
          <ion-card-subtitle>{{pais.population}}</ion-card-subtitle>
          <ion-card-subtitle>{{pais.area}}  </ion-card-subtitle>
          <ion-card-subtitle> {{pais.region}}   </ion-card-subtitle>
          <ion-card-subtitle> {{pais.subregion}}   </ion-card-subtitle>
          <ion-card-subtitle> 
            <ion-item>
            <ion-label>fuso horario do pais </ion-label>
            <ng-container *ngFor=" "  >
              <ion-card-subtitle> {{}}   </ion-card-subtitle>
            </ng-container>
                
            </ion-item>
          
          
          </ion-card-subtitle>





        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

    </ion-col>
  </ion-row>

</ng-container>

</ion-content>
