.perfilFoto{
  height: 10rem;
  border-radius: 50%;
  margin-left: 5rem;
  margin-top: 2rem ;
}
.icones{
  height: 3rem;
}
.perfilFotoa{
  height: 6rem;
  border-radius: 50%;
  margin-left: 4rem;
  margin-top: 1rem ;
  padding: 2px;
}
