<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="4" class="ion-center">
      <img class="perfilFoto" src="{{this.perfil.foto}}" alt="">
    </ion-col>
    <ion-col>
      <h1> {{this.perfil.nome}} </h1>
      <h3>{{this.perfil.formado}} </h3>
      <h3> {{this.perfil.insta}} </h3>
      <h3> {{this.perfil.cidade}} </h3>
      <h3> {{this.perfil.bio}} </h3>

    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ng-container *ngFor=" let bio of this.perfil.bio">
        <h1>Biografia</h1>
        <ion-item>
          <ion-label> {{bio}} </ion-label>
        </ion-item>
      </ng-container>
    </ion-col>
  </ion-row>


  <ion-row>

    <!-- like  -->
    <ion-col>
      <ion-item>
        <h1>45k</h1>
      </ion-item>
      <ion-item>
        <img class="icones"
          src="https://cdn4.iconfinder.com/data/icons/twitter-29/512/166_Heart_Love_Like_Twitter-256.png" alt="">
      </ion-item>
    </ion-col>

    <!-- seguidor -->
    <ion-col>
      <ion-item>
        <h1>45k</h1>
      </ion-item>
      <ion-item>
        <img class="icones" src="https://cdn3.iconfinder.com/data/icons/user-interface-2326/24/user-plus-256.png"
          alt="">
      </ion-item>
    </ion-col>


    <!-- amigos -->

    <ion-col>
      <ion-item>
        <h1>45k</h1>
      </ion-item>
      <ion-item>
        <img class="icones" src="https://cdn2.iconfinder.com/data/icons/squircle-ui/32/Group-256.png" alt="">
      </ion-item>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col>
      <h1>Postagens de amigos</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ng-container *ngFor="let amigos of amigosp">
      <ion-col size="4">
        <img  class="perfilFotoa" src="{{amigos.foto}} " alt="  ">
      </ion-col>


      <ion-col size="8">
        <ion-item >
          <h2> {{amigos.nome}} </h2>
        </ion-item>
        <h3> {{amigos.bio }} </h3>
      </ion-col>

    </ng-container>
  </ion-row>






</ion-content>